<!DOCTYPE html>
<html>
<nav th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav"/>
	<h1 class="m-2">Lectores</h1>
	<div class="container">
		<a href="/" class="btn btn-primary mb-3">Volver</a>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						Nombre
					</th>
					<th>
						Teléfono
					</th>
					<th>
						Dirección domicilio
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lector:${listaLectores}">
					<td th:text="${lector.nombre}"></td>
					<td th:text="${lector.telefono}"></td>
					<td th:text="${lector.direccion}"></td>
					<td>
						<a th:id="${lector.nombre}" th:href="@{'/lectores/update/' + ${lector.nSocio}}" class="btn btn-info">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Botonera para moverme entre las paginas -->
		<div th:if="${totalPages > 1}" class="container">
			<!-- Si hay más de una página, aparece la botonera, si no, no aparece (claridad) -->
			<div class="row col-sm-10"><!-- Una fila con varias columnas-->
				<div class="col-sm-5">Total de filas: [[${totalItems}]]</div>
				<!-- El enlace en texto en tylh es con [] -->
				<div class="col-sm-3">
					<span th:each="i:${#numbers.sequence(1,totalPages)}">
						<a th:if="${currentPage != 1}"
							th:href="@{'/lectores/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
							<!--Le paso la ruta para que vaya a la página correspondiente -->
							[[${i}]]
						</a>
						<span th:unless="${currentPage != 1}"> [[${i}]]</span>
					</span>
				</div><!-- Cierra el col-sm-3 -->
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/lectores/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
						Proxima
					</a>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/lectores/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
						Última
					</a>
				</div>
			</div> <!-- Cierra el row -->
		</div> <!-- Cierra el if -->
	</div>
</body>
</html>