<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Biblioteca</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">

		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">Inicio</a>
			</li>
			<li class="nav-item active" sec:authorize="hasRole('ADMIN')">
				<a href="/autores" class="nav-link">Autores</a>
			</li>
			<li class="nav-item active" sec:authorize="hasRole('ADMIN')">
				<a href="/autores/crear" class="nav-link">Añadir autor</a>
			</li>
			<li class="nav-item active" sec:authorize="hasRole('ADMIN')">
				<a href="/libros/create" class="nav-link">Añadir libro</a>
			</li>
			<li class="nav-item active" sec:authorize="hasRole('ADMIN')">
				<a href="/lectores" class="nav-link">Lectores</a>
			</li>
			<li class="nav-item active" sec:authorize="hasRole('LECTOR')">
				<a th:href="@{'/prestamos/' + ${user_id}}" class="nav-link" sec:authorize="hasRole('LECTOR')">Mis préstamos</a>
			</li>
		</ul>

	</div>

	<form class="" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
		<input class="btn btn-primary" type="submit" value="Cerrar Sesión" />
	</form>
</nav>