<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">

<nav th:replace="fragments/head" />

<body class="text-center">
	<nav th:replace="fragments/nav" />

	<p class="ml-3 mt-3">
		Bienvenido/a
		<b th:inline="text">[[${name}]]</b>
	</p>

	<h1 class="ml-3 mt-3">Biblioteca</h1>

		<div class="d-flex flex-wrap justify-content-center align-items-center">

		<div th:each="libro:${listaLibros}" class="card m-2" style="width: 18rem;">
			<div class="card-body">
				<h5 th:text="${libro.titulo}" class="card-title" id="tituloCarta"></h5>
				<p th:text="${libro.tipoLibro}" class="card-text"></p>
				<p class="card-text">[[${libro.anyo}]]</p>
				<p th:text="${libro.autor.nombre}" class="card-text"></p>
				<a th:href="@{'/libros/' + ${libro.id}}" sec:authorize="hasRole('ADMIN')"
					class="btn btn-primary">Detalles</a>
				<a th:href="@{'/prestamos/crear/' + ${libro.id}}" sec:authorize="hasRole('LECTOR')"
					class="btn btn-primary">Crear préstamo</a>
			</div>
			</div>
		</div>
	</div>
	</section>
	<nav th:replace="fragments/footer" />
</body>

</html>